.individual-recipe {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.back-button {
  margin-bottom: 15px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  color: black;
  background-color: #ece6f0;
  border: 1px solid black;
}

.recipe-back-button {
  margin-right: auto;
  display: inline-block;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.back-button:hover {
  color: black;
  background-color: #adacad;
}

.recipe-detail h2 {
  margin: 0;
  font-size: 24px;
}

.recipe-detail .author {
  color: gray;
  margin-bottom: 10px;
}

.recipe-actions {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.tab, .favorite-btn, .delete-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.tab {
  background-color: #e0d6f7;
}

.favorite-btn {
  background-color: #f6def2;
}

.delete-btn {
  background-color: #f8d1d1;
}

.recipe-body {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.image-placeholder {
  width: 300px;
  height: 300px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
}

.text-section {
  flex: 1;
}

.recipe-not-found {
  padding: 40px;
  text-align: center;
  color: red;
}

.recipe-image {
  width: 600px;  /* Fixed width */
  height: 600px; /* Fixed height */
  object-fit: cover; /* Important: crops the image nicely */
  border-radius: 20px 2px 2px 20px; /* Optional: rounded corners */
  border: 1px solid black;
}

.individual-recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding-top: 100px;
}

.recipe-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 70px;
}

.recipe-details {
  margin-left: 20px;
}

/* .individual-recipe-left {
} */

.individual-recipe-right {
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 20px;
  max-width: 600px;
  min-width: 600px;
  background-color: #ece6f0;
  border: 1px solid black;
  border-radius: 2px 20px 20px 2px;
  display: flex;
  align-items: flex-start;
}

.allergy-warning {
  font-weight: bold;
}

.recipe-title {
  padding-bottom: 0;
}

/*tablet styles*/
@media screen and (max-width: 1300px) {

  .individual-recipe-right {
    max-width: 450px;
    max-height: 450px;
    min-width: 450px;
    min-height: 450px;
  }

  .recipe-image {
    max-width: 450px;
    max-height: 450px;
    min-width: 450px;
    min-height: 450px;
  }
}

/*mobile styles*/
@media screen and (max-width: 1000px) {

  .recipe-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .individual-recipe-right {
    border-radius: 2px 2px 20px 20px;
    margin: 0;
    margin-top: 10px;
  }

  .recipe-image {
    border-radius: 20px 20px 2px 2px;
  }
}
