@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Indie+Flower&family=Playwrite+NZ:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
  background-color: #d9d9d9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 30px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

.navbar-auth {
  display: flex;
  align-items: center;
  justify-content: flex-between;
}

.navbar-auth a {
  background-color: #ece6f0;
  padding: 4px;
  border: 1px solid black;
  border-radius: 20px;
}

.navbar-auth a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-size: 16px;
} 
  
.navbar-logo {
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  color: black;
  display: flex;
  align-items: center;
}

.navbar-logo:hover {
  color: black;
}

.navbar-logo img {
  width: 50px;
  height: 50px;
  margin-right: 25px;
}

.navbar-links {
  margin-left: auto;
}
  
.navbar-links a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  position: relative;
}

.navbar-links a.active-link {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

.navbar-links a.active-link::after {
  content: '';
  margin: 2px auto 0;
  width: 50%;
  height: 2px;
  background-color: black;
}

.navbar-search {
  position: relative;
  margin-left: 30px;
}

.navbar-search input {
  padding: 8px;
  font-size: 1rem;
  width: 250px;
  border-radius: 40px;
  border: 1px solid #444;
  background: #ece6f0;
  color: black;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px;
  color: black;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 999;
  border-radius: 20px;
  border: 1px solid #444;
  background: #ece6f0;
}

.search-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
}

.search-item:hover {
  background-color: #f0f0f0;
}

.search-item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #444;
}

/*tablet styles*/
@media screen and (max-width: 1100px) {
  
  .navbar-links a {
    font-size: 14px;
  }

  .navbar-search input {
    width: 200px;
  }

  .navbar-auth a {
    font-size: 14px;
  }
}

/*mobile styles*/
@media screen and (max-width: 850px) {
  
  .navbar-links a {
    font-size: 12px;
  }

  .navbar-search input {
    width: 98px;
    font-size: 12px;
  }

  .navbar-logo {
    font-size: 24px;
  }

  .navbar-logo img {
    width: 30px;
    height: 30px;
  }

  .navbar-auth a {
    font-size: 12px;
  }
}

/*mobile styles*/
@media screen and (max-width: 640px) {

  .navbar-logo {
    font-size: 16px;
  }
  
  .navbar-links a {
    margin-left: 5px;
  }

  .navbar-auth a {
    margin-left: 10px;
  }

  .navbar {
    padding-right: 5px;
    padding-left: 5px;
  }

  .navbar-search {
    padding-right: 0px;
    margin-left: 10px;
  }

  .navbar-logo img {
    margin-right: 5px;
  }
}