.navbar {
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}
  
.navbar-logo {
    font-weight: bold;
    font-size: 24px;
}
  
.navbar-links a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    position: relative;
}
  
