.recipes-page {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    width: 100vw;
    min-height: 100vh;
    padding-top: 120px;
}

.recipes-h1 {
    margin-bottom: 70px;
    text-align: center;
}