.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 35px;
  }
  
  .carousel-card {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .carousel-card h3, .carousel-card p {
    padding-top: 10px;
    margin-bottom: 0;
    text-align: left;
    color: black;
  }

  .carousel-cards {
    display: flex;
    gap: 20px;
    border-radius: 10px;
  }
  
  .carousel-image {
    width: 100%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
    transform: scale(calc(1 + (var(--hover, 0) * 0.05)));
    transition: transform 0.2s;
  }

  .carousel-image:is(:hover) {
    --hover: 1;
}
  
  .carousel-button {
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    background-color: white;
    color: #292828;
    border-radius: 50%;
    border: 2px solid #292828;
    cursor: pointer;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-button:hover {
    background-color: #d9d9d9;
    border: 2px solid #292828;
  }

  /*mobile styles*/
@media screen and (max-width: 1150px) {
  .carousel-image {
    height: 200px;
    width: 200px;
  }
}

  /*mobile styles*/
  @media screen and (max-width: 840px) {
    .carousel-image {
      height: 150px;
      width: 150px;
    }

    .carousel-card h3, .carousel-card p {
      font-size: 16px;
    }
  }

  /*mobile styles*/
  @media screen and (max-width: 680px) {
    .carousel-image {
      height: 100px;
      width: 100px;
    }

    .carousel-card h3, .carousel-card p {
      font-size: 12px;
    }

    .carousel {
      gap: 2px;
    }

    .carousel-cards {
      gap: 5px;
    }

    .carousel-button {
      width: 40px;
      height: 40px;
    }
  }

   /*mobile styles*/
   @media screen and (max-width: 480px) {
    .carousel-image {
      height: 90px;
      width: 90px;
    }

    .carousel-card h3, .carousel-card p {
      font-size: 10px;
    }

    .carousel {
      gap: 2px;
    }

    .carousel-cards {
      gap: 5px;
    }

    .carousel-button {
      width: 40px;
      height: 40px;
    }
  }